<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <!--<add name="exp" connectionString="Data Source=103.48.51.38,1232;Initial Catalog=express;User ID=sa;Password=U^yzFZN2YXK6AdHN;Integrated security=False"
            providerName="System.Data.SqlClient" />-->
        <add name="expressConnectionString" connectionString="Data Source=103.48.51.38,1232;Initial Catalog=express;Persist Security Info=True;User ID=sa;Password=U^yzFZN2YXK6AdHN"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <customErrors mode="Off" />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
